<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href= <%- menu[0].url %> > <%- menu[0].name %> <a></a></li>
                <li><a href= <%- menu[1].url %> > <%- menu[1].name %> <a></a></li>
                <li><a href= <%- menu[2].url %> > <%- menu[2].name %> <a></a></li>
                <li><a href= <%- menu[3].url %> > <%- menu[3].name %> <a></a></li>
                <li><a href= <%- menu[4].url %> > <%- menu[4].name %> <a></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1><%- menu[1].name %></h1>
    </main>
</body>
</html>